html, body {
  width: 100%;
  height: 100%;
}
h1 {
  color: #ffffff;
  background-color: blueviolet;
  font-family: 'sans-serif';
  font-size: 50px;
  text-align: center;
}

h2 {
  color: #088F8F;
  font-family: Arial, Tahoma, Serif;
  font-size: 40;
}

h3 {
  color: deepskyblue;
  font-size: 30px;
}

p {
  color: black;
  font-family: Arial;
  font-size: 20px;
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}

ul, pl {
  color: black;
  font-size: 20px;
  font-family: Arial;
    }

ul {
  text-align: left;
  list-style-position: inside;
  padding: 40px;
}

pl {
  text-align: left;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:link    { color: green;  }
a:visited { color: #1b4332;   }
a:hover   { color: yellowgreen; }
a:active  { color: #52b788;  } 

footer {
  color: #000000;
  font-family: 'Times New Roman;'
  font-size: 15px;
  text-align: center;
  padding: 20px;
}
